/* 
* @Author: cs
* @Date:   2015-12-30 02:03:59
* @Last Modified by:   cs
* @Last Modified time: 2016-01-08 23:49:57
*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.mgj_rightbar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    color: #FFF;
    font-size: 12px;
    background: #202020 none repeat scroll 0% 0%;
    z-index: 9999;
}

.mgj_rightbar .mgj-my-cart {
    position: relative;
    padding: 4px 4px 0px;
    text-align: center;
    margin-top: 35px;
    background-color: #202020;
}

.mgj_rightbar .mgj-my-cart:hover {
    background-color: #EF2F23;
}

.mgj_rightbar .mgj-my-cart:hover .nofollow {
    border-bottom: 1px solid rgba(221, 221, 221, 0.0);

}

.mgj_rightbar .nofollow {
    display: block;
    color: #FFF;
    text-align: center;
    line-height: 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    padding-bottom: 12px;
    text-decoration: none;

}

.mgj_rightbar .s-icon {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../image/mgj_30x220.png");
    background-repeat: no-repeat;
    background-position: -4px 0px;
}

.mgj_rightbar .s-txt {
    color: #FFF;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}

.mgj-my-coupon,
.mgj-my-wallet,
.mgj-my-browserlog {
    position: relative;
    padding: 4px 4px 0px;
    text-align: center;
    /*background-color: #202020;*/
    margin-top: -1px;
}

.mgj-my-coupon:hover,
.mgj-my-wallet:hover,
.mgj-my-browserlog:hover {
    background-color: #EF2F23;
}

.mgj-my-coupon:hover .nofollow,
.mgj-my-wallet:hover .nofollow,
.mgj-my-browserlog:hover .nofollow {
    border-bottom: 1px solid rgba(221, 221, 221, 0.0);
}

.mgj_rightbar .mgj-my-coupon .s-icon {
    background-position: -4px -30px;
}

.mgj_rightbar .mgj-my-wallet .s-icon {
    background-position: -4px -90px;
}

.mgj-my-browserlog .s-icon {
    background-position: -4px -60px;
}

.mgj_rightbar .sideBottom {
    width: 22px;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0px 4px 0px;
    background-color: #202020;

}

.mgj_rightbar .sideBottom a {
    border-top: 1px solid rgba(221, 221, 221, 0.6);
    border-bottom: none;
    padding-bottom: 0px;


}

.sideBottom .s-icon {
    background-position: -4px -150px;
}

/*.gudinglan{
	width:30px;
	height:92px;
	background-color:#202020;
	color:#FFF;
	text-align:center;
	position:fixed;
	top:100px;
	right:0px;
	font-size:12px;
	line-height:15px;
}
.gudinglan img{
	display:block;
	margin:10px auto;
}*/
.head {
    height: 176px;
    border-bottom: #ff4466 1px solid;
}

.head .head-top {
    height: 31px;
    background-color: #f2f2f2;
    border-bottom: #dddddd 1px solid;

}

.head .head-top ul {
    width: 960px;
    margin: 0 auto;
}

.head .head-top ul li {
    list-style: none;
    float: right;

}

.head .head-top ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 12px;
    display: block;
    /*		height:32px;*/
    line-height: 32px;

}

.head .head-top ul li .wd {
    width: 84px;
    text-align: right;
    background: url("../image/head-top-line.png") left no-repeat;
}

.head .head-top ul li.wodexiaodian {
    background: url(../image/head-top-xd.png) no-repeat;
    background-position: 12px 7px;
}

.head .head-top ul li .fw {
    width: 73px;
    padding-left: 16px;
    background: url(../image/head-top-line.png) left no-repeat;
    position: relative;
}

.head .head-top ul li.khfw {
    background: url(../image/khfw.png) no-repeat;
    background-position: 67px 14px;
}

.head .head-top ul li .fw .khfwtk {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-top: 1px solid #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    text-align: center;
    line-height: 30px;
}

.head .head-top ul li .fw .khfwtk li {
    float: none;
    display: block;
}

.head .head-top ul li .fw .khfwtk a {
    float: none;

}

.head .head-top ul li .fw:hover .khfwtk {
    display: block;
}

.head .head-top ul li .gwc {
    width: 51px;
    padding-left: 39px;
    background: url(../image/head-top-line.png) left no-repeat;
}

.head .head-top ul li .gwc .gwctk {
    width: 202px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 802px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-top: 1px solid #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    text-align: center;
    line-height: 30px;
}

.head .head-top ul li .gwc .gwctk li {
    float: none;
    display: block;
}

.head .head-top ul li .gwc .gwctk a {
    float: none;

}

.head .head-top ul li .gwc:hover .gwctk {
    display: block;
}

.head .head-top ul li.gouwuche {
    background-image: url(../image/head-top-gwc.png);
    background-repeat: no-repeat;
    background-position: 12px 8px;
}

.head .head-top ul li.dingdan {
    background: url(../image/head-top-dd.png) no-repeat;
    background-position: 20px 11px;
}

.head .head-top ul li .dd {
    width: 63px;
    padding-left: 39px;
    background: url(../image/head-top-line.png) left no-repeat;
}

.head .head-top ul li .dl {
    width: 39px;
    text-align: left;
}

.head .head-top ul li .zc {
    width: 39px;
    text-align: left;
}

.head .head-main {
    width: 1200px;
    height: 108px;
    margin: 0 auto;
    overflow: hidden;
}

.head .head-main .s1 {
    color: #666;
    font-size: 12px;
    padding-left: 13px;
    border: 1px solid #3a3a3a;
    height: 33px;
    display: block;
    width: 60px;
    line-height: 33px;
    float: left;
    border-right: none;
    margin-top: 35px;
    margin-left: 65px;
    background: url(../image/sssss.png) no-repeat;
    background-position: 51px 15px;
    cursor: pointer;
    position: relative;
}

.head .head-main .s1 .ss1 {
    border: 1px solid #999;
    border-top: none;
    display: none;
    position: absolute;
    width: 70px;
    height: 30px;
    top: 34px;
    left: -1px;
    background: #FFF;
    z-index: 21;
    text-align: center;
    font-size: 12px;
}

.head .head-main .s1:hover .ss1 {
    display: block;
    z-index: 21;
}

.head .head-main .s2 {
    font-size: 12px;
    border: 1px solid #3a3a3a;
    height: 33px;
    display: block;
    width: 358px;
    line-height: 33px;
    outline: none;
    float: left;
    border-left: none;
    margin-top: 35px;
    color: #999999;

}

.head .head-main .s3 {
    height: 35px;
    display: block;
    background: url(../image/head-main-search.png) no-repeat;
    width: 71px;
    border: none;
    outline: none;
    float: left;
    margin-top: 35px;
    cursor: pointer;


}

.head .head-main .logo {
    float: left;
}

.head .head-main ul {
    width: 500px;
    /*			height:20px;*/
    display: block;
    background: #399;
    margin-left: 290px;
    margin-top: 80px;
}

.head .head-main ul li {
    list-style: none;
    font-size: 12px;
    float: left;
    display: block;
    margin-right: 20px;
}

.head .head-main ul li a {
    text-decoration: none;
    color: #999999;

}

.head .head-main .sao {
    height: 94px;
    width: 82px;
    border: 1px solid #e9e9e9;
    float: right;
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
}

.head .head-main .sao img {
    margin-top: 7px;
}

.head .head-main .sao .mgj {
    font-size: 12px;
    color: #444444;
    line-height: 22px;
}

.head .head-foot {
    /*margin-top:108px;*/
    width: 1200px;
    margin: 0 auto;

}

.head .head-foot .daohang li {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 36px;
    font-family: "宋体", sans-serif;

}

.head .head-foot .daohang .sk {
    background: url(../image/head-foot-qbsp.png) no-repeat center;
    height: 36px;
    width: 225px;
    color: #FFF;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
}

.head .head-foot .daohang a {
    color: #333333;
    text-decoration: none;
}

.head .head-foot .daohang a:hover {
    text-decoration: underline;
}

.banner {
    height: 550px;
    width: 1200px;
    margin: 0 auto;
}

.banner .left {
    width: 223px;
    height: 549px;
    border: 1px solid #ff0000;
    border-top: none;
    float: left;
}

.banner .ul {
    list-style: none;
    height: 41px;
    border-bottom: 1px #c7c7c7 dotted;
    position: relative;
}

.banner .left .ul:hover {
    border-bottom: 1px solid #c7c7c7;
    border-right: #FFF 1px solid;
    position: relative;
    width: 223px;
    height: 41px;
    z-index: 26;
}

.banner .left .ul:hover .li {
    width: 223px;
    height: 41px;
    border-right: #FFF 1px solid;
    position: relative;
    z-index: 26;
}

.banner .my {
    border-bottom: none;
}

.banner .left .dt {
    float: left;
    font-size: 14px;
    font-weight: 700;
    width: 42px;
    margin-left: 20px;

}

.banner .left .dd {
    float: left;
    font-size: 12px;
    font-family: "宋体", sans-serif;

}

.banner .left .a {
    color: #333333;
    text-decoration: none;
    float: left;
    line-height: 42px;
}

.banner .left .dd .a {
    color: #666666;
}

.banner .left .red {
    color: #f46 !important;
}

.banner .left .a:hover {
    text-decoration: underline;
}

ins {
    height: 12px;
    width: 0px;
    vertical-align: top;
    border-left: 1px solid #d8d8d8;
    margin: 15px 7px 0;
    float: left;
}

/*		左侧弹窗================================================================*/
/*		.banner .left ul .left-tanchuang{
	height:548px;
	width:290px;
	background-color:#FFF;
	position:absolute;
	left:223px;
	display:none;
	border:1px solid #c7c7c7;

}*/
.left-tanchuang {
    height: 542px;
    width: 280px;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 223px;
    display: none;
    border: 1px solid #c7c7c7;
    padding-left: 10px;
    padding-top: 6px;
}

.left-tanchuang2 {
    top: -42px;
}

.left-tanchuang3 {
    top: -84px;
}

.left-tanchuang4 {
    top: -126px;
}

.left-tanchuang5 {
    top: -168px;
}

.left-tanchuang6 {
    top: -210px;
}

.left-tanchuang7 {
    top: -252px;
}

.left-tanchuang8 {
    top: -294px;
}

.left-tanchuang9 {
    top: -336px;
}

.left-tanchuang10 {
    top: -378px;
}

.left-tanchuang11 {
    top: -420px;
}

.left-tanchuang12 {
    top: -462px;
}

.left-tanchuang13 {
    top: -504px;
}

.left-tanchuang dl dt {
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
}

.left-tanchuang dl dt a {
    padding: 0 11px 0 10px;
    color: #333333;
    text-decoration: none;
}

.left-tanchuang dl dd ul li {
    font-size: 12px;
    list-style: none;
    float: left;
}

.left-tanchuang dl ul li a {
    padding: 0 11px 0 10px;
    line-height: 24px;
    text-decoration: none;
    color: #666666;
}

.left-tanchuang dl a:hover {
    text-decoration: underline;
}

.left-tanchuang dl a.red {
    color: #ff4466;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left-tanchuang dl dd ul {
    margin-bottom: 25px;
}

.left-tanchuang dl .xiao-banner {
    padding-top: 12px;
    padding-left: 10px;
}

.banner .left .ul:hover .left-tanchuang {
    display: block;
    z-index: 1;
}




.banner .right {
    width: 950px;
    height: 530px;
    margin-top: 20px;
    float: right;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.banner .right .banner-left {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -22px;
    display: none;
    z-index: 2;
}

.banner .right:hover .banner-left,
.banner .right:hover .banner-right {
    display: block;
    opacity: 0.8;
}

.banner .right:hover .banner-left:hover {
    opacity: 0.5;
}

.banner .right:hover .banner-right:hover {
    opacity: 0.5;
}

.banner .right .banner-right {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -22px;
    display: none;
    z-index: 2;
}

.slide-show {
    width: 5100px;
    list-style: none;
    position: absolute;

}

.slide-show li {
    float: left;
}

.p-box {
    cursor: default;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    z-index: 10;
    padding: 5px 10px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 1px 4px #999;
    list-style: none;
}

.p-box li {
    width: 20px;
    height: 20px;
    background: #fff;
    float: left;
    cursor: pointer;
    background: url('../image/jltt_201x53.png') no-repeat -97px -17px;
    /*animation: 5000ms cubic-bezier(0.6, 0, 0.6, 1) 0s normal none 1 running rotate;
	background: transparent none repeat scroll 0% 0%;*/

}

.p-box li {
    transform: rotate(0deg);
    transition: transform 2s cubic-bezier(0.77, 0, 0.18, 1);
}

.p-box li img {
    display: none;
}

.p-box li.current {
    transform: rotate(360deg);
}

.p-box li.current img {
    display: block;
}


.main1 {
    height: 1100px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.main1 h2 {
    width: 100%;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 20px;
}

.main1 .common_box {
    width: 1200px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 20%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.clearfix,
.row,
.ui-tabs,
.wrapper,
.shop-nav-rec {
    zoom: 1;
}

.clearfix:before,
.row:before,
.ui-tabs:before,
.wrapper:before,
.shop-nav-rec:before,
.clearfix:after,
.row:after,
.ui-tabs:after,
.wrapper:after,
.shop-nav-rec:after {
    content: '';
    display: table;
}

.clearfix:after,
.row:after,
.ui-tabs:after,
.wrapper:after,
.shop-nav-rec:after {
    clear: both;
}

.sg-list {
    margin: 23px 0 0;
}

.sg-list .col {
    padding: 0 7px;
}

.sg-list .item {
    position: relative;
    margin-bottom: 15px;
    height: 380px;
    background-color: ;
}

.sg-list .item:hover {
    z-index: 3;
}

.sg-list .item:hover .inner {
    top: -5px;
    height: 380px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06);
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
}

.sg-list .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 21px 0;
    text-align: center;
    background-color: #fff;
}

.sg-list .figure {
    display: block;
    margin: auto;
    width: 190px;
    height: 300px;
}

.sg-list .name {
    overflow: hidden;
    height: 44px;
    line-height: 22px;
    margin: 2px 0 2px;
    color: #424242;
    font-size: 12px;
    text-align: left
}

.sg-list .price {
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    text-align: left
}

.sg-list .price img {
    height: 15px;
    width: 16px;
    vertical-align: -2px;
    margin-right: 4px;
}

.sg-list .price span {
	font-size: 12px; 
	color: #999; 
	float: right;
}

.sg-list .act {
    margin: 20px auto;
    width: 150px;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fc532d;
    border: 1px solid #fc532d;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.sg-list .act i {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    height: 1px;
    line-height: inherit;
    font-size: 18px;
}

.sg-list .act:hover {
    color: #fff;
    background-color: #fc532d;
}


.main1 .common_box .ad_t .ad1 {
    width: 590px;
    height: 284px;
    overflow: hidden;
}

.main1 .common_box .ad_t .ad1 img {
    width: 200px;
    height: 320px;
}

.main1 .common_box .ad_b {
    *zoom: 1;
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-top: 20px;
}

.main1 .common_box .ad_b .ad_attr_box {
    float: left;
    width: 245px;
    height: 200px;
    overflow: hidden;
    background-color: #F9F9F9;
    padding: 10px 20px;
}

.main1 .common_box .ad_b .ad_attr_box a {
    float: left;
    width: 81px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.main1 .common_box .ad_b .ad_attr_box .red {
    color: #ff3366;
}

.foot {
    margin-top: 90px;
    border-top: 1px solid #DADADA;
    height: 230px;
    background-color: #F8F8F8;
}

.foot .foot-top {
    height: 160px;

    border-bottom: 1px solid #DADADA;
}

.foot .foot-top .foot-top-l {
    height: 160px;
    width: 283px;
    float: left;
}

.foot .foot-top .foot-top-l .foot-logo {
    margin-top: 30px;
    margin-bottom: 5px;
}

.foot .foot-top .foot-top-l .xukezheng {
    font-size: 12px;
    height: 21px;
    color: #999999;
}

.foot .foot-top .foot-top-l .xukezheng a {
    text-decoration: none;
    color: #999999;
}

.foot .foot-top .foot-top-r {
    width: 674px;
    height: 160px;
    float: left;
}

.foot .foot-top .foot-top-r dt {
    font-size: 12px;
    color: #333333;
    font-weight: bold;
    line-height: 26px;
    margin-top: 26px;
}

.foot .foot-top .foot-top-r dl {
    font-size: 12px;
    line-height: 22px;
    padding-right: 67px;
    float: left;
}

.foot .foot-top .foot-top-r dl a {
    color: #666666;
    text-decoration: none;
}

.foot .foot-top .foot-top-r dl a:hover {
    text-decoration: underline;
}


.foot .foot-bottom dl dt {
    color: #333333;
    font-size: 12px;
    float: left;
}

.foot .foot-bottom dl dd {
    float: left;
    font-size: 12px;
}

.foot .foot-bottom dl dd a {
    color: #4d4d4d;
    text-decoration: none;
    padding: 0 14px 0 14px;
}

.foot .foot-bottom dl dd a:hover {
    text-decoration: underline;
}

.foot .foot-bottom dl {
    line-height: 20px;
    padding-top: 10px;
}

.banxin {
    width: 960px;
    margin: 0 auto;
}